@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}

@layer utilities {
  /*
    @layer is used to add custom css in tailwindcss
    tailwindcss has three main layers where styles can be defined.
    1. base, 2. components, 3. utilities
  */

  @keyframes blink {
    /* 
      @keyframes is used to create an amination.
      @keyframes animationName{
        body
      }
    */
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}
